

<!-- Map view -->

  <div id="mapView"></div>


  <button class="file-button">
    <label for="file-input" class="button-label">
      Get Geojson File
    </label>
    <input id="file-input" type="file" (change)="getGeoJson($event)" >
  </button>

  <button *ngIf="groupButtonVisible" class="groupingButton" (click)="onButtonGroup()">Grouping</button>
  <button *ngIf="isButtonVisible" class="UngroupingButton" (click) = "editGrouping()" >Edit-Grouping</button>


  <div class="checkboxes" *ngIf="showCheckbox">
    <div  *ngFor="let layer of boundaries">
      <input type="checkbox"  (change)="getBoundaryCoordinates(layer)">    
    </div>
  </div>


